.html {
  background-color: #0d111d;
  color: white;
}

.body {
  padding: 20px;
}

.headline {
  font-weight: bold;
  font-size: 35px;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 20%;
  min-width: 220px;
}

.link {
  color: white;
  display: block;
  font-size: 25px;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.link:hover {
  text-decoration: underline;
}

.link--thin {
  opacity: 0.7;
  font-size: 16px;
} 